@{
    ViewData["Title"] = "Gizlilik Politikası";
}
<h1>@ViewData["Title"]</h1>

<p>Tüm hakları Güvende Sigorta Şirketine aittir.</p>
<ul>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>
    <li>
        Aliquam elementum risus id augue venenatis, sit amet malesuada massa molestie.
    </li>
    <li>
        Aliquam in odio ut justo porttitor lobortis vitae eu elit.
    </li>
    <li>
        Fusce consequat nibh quis lobortis faucibus.
    </li>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </li>

</ul>
