@page
@model RegisterModel
@{
    ViewData["Title"] = "Güvende Sigorta";
}

<style>
    body {
        background-color: #f5f7f9;
    }

    .container {
        margin-top: 70px;
        margin-bottom: 80px;
    }

    h1 {
        margin-bottom: 70px;
        text-align: center;
        color: #1d1e1e;
        font-size: 45px !important;
        text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
    }

    .login {
        opacity: 0.9;
        background-color: #e5eaef;
        border-radius: 5px;
    }

    .register {
        opacity: 0.9;
        background-color: #e5eaef;
        border-radius: 5px;
    }

    .linkIcon {
        border-radius: 100px;
        background-color: #eaeef2;
    }
    a{
        text-decoration: none;
    }
</style>

<a asp-area="" asp-controller="Home" asp-action="Index">
    <h1>@ViewData["Title"]</h1>
</a>

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Yeni bir hesap oluştur.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-1">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-1">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-1">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
